* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    font-size: 10px;
    background: #eee;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #333;
}

p {
    margin: .75rem 0;
}

#header {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    padding: 2rem;
}

#header #header-img {
    width: 30rem;
    height: 4.5rem;
    align-self: center;
}

#header #nav-bar ul {
    display: flex;
}

#header #nav-bar ul li {
    padding: 2rem;
}

#header #nav-bar ul li .nav-link {
    font-size: 1.8rem;
}

#subscription {
    max-width: 1280px;
    text-align: center;
}

#subscription h2 {
    font-size: 3rem;
}

#subscription #form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#subscription #form #email {
    width: 30rem;
    height: 3rem;
    margin-top: 1rem;
}

#subscription #form input[type="submit"] {
    background: #f1c40f;
    border: none;
    padding: 1rem 2.5rem;
    font-weight: bold;
    margin-top: 1rem;
    font-size: 1.7rem;
}

#subscription #form input[type="submit"]:hover {
    background: orange;
}

#delivery {
    max-width: 1140px;
    width: 70%;
    margin: 2rem auto;
}

#delivery .delivery-item {
    display: flex;
    margin-bottom: 3rem;
}

#delivery .delivery-item i {
    color: darkorange;
    padding: 1rem 4rem;
    font-size: 5rem;
}

#delivery .delivery-item:first-of-type i {
    margin-right: 2.5rem;
}


#delivery .delivery-item .delivery-item-text {
    margin-left: 1rem;
}

#delivery .delivery-item .delivery-item-text h2 {
    font-size: 2rem;
}

#delivery .delivery-item .delivery-item-text p {
    font-size: 1.5rem;
}